body{
    background-color: black;
}
#title{
    color: aliceblue;
    margin: auto;
    max-width: 50%;
    border: 3px solid rgb(90, 7, 7);
    padding: 10px;
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 10px;
}

#img-caption{
    color: aliceblue;
    font-size: xx-small;
    text-align: center;
}
#tribute-info{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
